# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Common formats
*.html text
*.xml text
*.css text
*.scss text
*.js text
*.properties text
*.rtf text
*.yaml text
*.yml text
*.md text

LICENSE text

# SQL scripts
*.sql text

# Java sources
*.java text

# Python sources
*.py text

# Gradle build files
*.gradle text

# Google protocol buffers
*.proto text

# Miscellaneous
*.rb text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
mvnw.cmd eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
mvnw text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.swf binary
*.jar binary
*.desc binary

*.scpt binary
*.scssc binary

# Encoded files
*.enc binary
